<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Ostatnia modyfikacja w repo Allegrol</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.0/united/bootstrap.min.css"/>
</head>

<body>


<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Ostatnia modyfikacja <br> w repozytorium ALLEGRO</div>
    <div class="card-body">

        <table class="text-white">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-white">
                <td th:text="${repository.getName()}"></td>
                <td th:text="${repository.getUpdatedAt()  }"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>

</html>
